.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active, .ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  color: #fff;
}

.ant-menu-item {
  border-width: 0 0 1px 0;
  border-color: rgba(118, 118, 118, 0.2);
  border-style: solid;
}

.ant-table {
  th, tr {
    text-align: center !important;
  }

  thead {
    & th, & td {
      background-color: #000 !important;
    }
  }
}
