.container {
  display: inline-flex;

  &, & > svg {
    width: 24px;
    height: 24px;
  }
}

.large {
  &, & > svg {
    width: 40px;
    height: 40px;
  }
}

.small {
  &, & > svg {
    width: 16px;
    height: 16px;
  }
}

.shadow {
  box-shadow: 0px 3px 2px rgba(90, 90, 90, 0.25);
}
