.container {
  position: absolute;
  display: flex;
  align-items: flex-end;

  left: 0;
  bottom: 0;
}

.black {
  right: 0;
  bottom: 0;
  flex-direction: row-reverse;

  .rock {
    transform: scale(-1, 1);
    path {
      fill: #000;
    }
  }
}

.rock {
  width: 35vw;
  height: auto;
}
