.header {
  border-bottom: 4px solid #fff;
  box-shadow: 0px 4px 5px rgba(90, 90, 90, 0.25);
  z-index: 1;
}

.container {
  height: 100%;
}

.nav-link, .logo, .metamask-button {
  display: inline-flex;
}

.logo {
  zoom: 2;
}

.metamask-button {
  justify-content: flex-end;
}

