.container {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #DDF0F9;
}


.ninjas {
  display: inline-flex;
  justify-content: center;
  margin-bottom: -16px;
  position: relative;

  & > svg:first-child {
    max-height: 60%;
    width: 80%;
    height: auto;
  }
}

.bag-svg, .bag-text, .bag-text-coins {
  animation: pat 1s ease-in-out infinite alternate;
}

.bag {
  position: absolute;
  top: 9%;
  transform: translateY(-40%);

  &, path, svg {
    transition-timing-function: ease-in-out;
    transition-property: transform, fill, color, filter;
    transition-duration: 2s;
  }

  z-index: 1;

  &, svg {
    height: 32px;
    width: 32px;
  }

  .bag-text {
    bottom: 0px;
  }

  svg, .bag-text, .bag-text-coins {
    transition-timing-function: ease-in-out;
    transition-property: transform, height, font-size;
    transition-duration: 0.5s;
  }
}

.bag-size-s {
  &, svg {
    height: 48px;
    width: 48px;
  }

  .bag-text {
    margin-bottom: 11px !important;
  }
}

.bag-size-m {
  &, svg {
    height: 64px;
    width: 64px;
  }

  .bag-text {
    font-size: 14px;
    height: 21px;
    margin-bottom: 16px !important;
    margin-right: 3px;
  }

  .bag-text-coins {
    bottom: 2px;
  }
}

.bag-size-l {
  &, svg {
    height: 80px;
    width: 80px;
  }

  .bag-text {
    font-size: 16px;
    height: 24px;
    margin-bottom: 20px !important;
    margin-right: 6px;
  }

  .bag-text-coins {
    bottom: 3px;
    font-size: 8px;
    margin-right: 4px;
  }
}

.bag-size-xl {
  &, svg {
    height: 120px;
    width: 120px;
  }

  .bag-text {
    font-size: 18px;
    height: 24px;
    margin-bottom: 36px !important;
    margin-right: 6px;
  }

  .bag-text-coins {
    bottom: 16px;
    font-size: 12px;
    margin-right: 4px;
  }
}

.bag-size-2xl {
  &, svg {
    height: 172px;
    width: 172px;
  }

  .bag-text {
    font-size: 24px;
    height: 24px;
    margin-bottom: 60px !important;
    margin-right: 6px;
  }

  .bag-text-coins {
    bottom: 16px;
    font-size: 14px;
    margin-right: 4px;
  }
}

.bag-left {
  //transform: translateY(-40%) translateX(-50%);
  //animation: winning-white 2s ease-in infinite alternate;
}

.bag-right {
  //transform: translateY(-40%) translateX(50%);
  //animation: winning-black 2s ease-out infinite alternate;
}

.bag-white {
  svg path:nth-child(2n - 1) {
    fill: #fff;
  }

  svg path:nth-child(2n) {
    fill: #000;
  }

  svg {
    filter: drop-shadow(1px 1px 3px #0000001F);
  }
}

.bag-black {
  svg path:nth-child(2n - 1) {
    fill: #000;
  }

  svg {
    filter: drop-shadow(1px 1px 3px #ffffff3F);
  }
}

.bag-text {
  position: absolute;
  white-space: nowrap;
  left: 0;
  right: 0;
  //margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  height: 18px;
  margin-bottom: 3px !important;
}

.bag-text-coins {
  font-size: 6px;
  height: 9px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes winning-black {
  0% {
    transform: translateY(-40%) translateX(50%);
  }

  100% {
    transform: translateY(-40%) translateX(55%);
  }
}


@keyframes winning-white {
  0% {
    transform: translateY(-40%) translateX(-50%);
  }

  100% {
    transform: translateY(-40%) translateX(-55%);
  }
}

@keyframes pat {
  0% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}


